<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
    <el-form-item label="公司名称" prop="name">
      <el-input v-model="dataForm.name" placeholder="公司名称"></el-input>
    </el-form-item>
    <el-form-item label="公司地址" prop="address">
      <el-input v-model="dataForm.address" placeholder="公司地址"></el-input>
    </el-form-item>
    <el-form-item label="联系人" prop="linkName">
      <el-input v-model="dataForm.linkName" placeholder="联系人"></el-input>
    </el-form-item>
    <el-form-item label="性别" prop="sex">
      <el-select v-model="dataForm.sex" placeholder="请选择性别">
        <el-option label="男" value=1></el-option>
        <el-option label="女" value=0></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="联系电话" prop="linkTelephone">
      <el-input v-model="dataForm.linkTelephone" placeholder="联系电话"></el-input>
    </el-form-item>
    <el-form-item label="身份证号" prop="linkCardNo">
      <el-input v-model="dataForm.linkCardNo" placeholder="身份证号"></el-input>
    </el-form-item>
      <el-form-item label="备注" prop="comment">
        <el-input type="textarea"  v-model="dataForm.comment" placeholder=""></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          id: 0,
          name: '',
          address: '',
          linkName: '',
          sex: '',
          linkTelephone: '',
          linkCardNo: '',
          createrTime: '',
          updateTime: '',
          operatorName: '',
          state: '',
          comment: ''
        },
        dataRule: {
          name: [
            { required: true, message: '公司名称不能为空', trigger: 'blur' }
          ],
          address: [
            { required: true, message: '公司地址不能为空', trigger: 'blur' }
          ],
          linkName: [
            { required: true, message: '联系人不能为空', trigger: 'blur' }
          ],
          linkTelephone: [
            { required: true, message: '联系电话不能为空', trigger: 'blur' }
          ],
          linkCardNo: [
            { required: true, message: '身份证号不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblcompany/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.name = data.tblCompany.name
                this.dataForm.address = data.tblCompany.address
                this.dataForm.linkName = data.tblCompany.linkName
                this.dataForm.sex = data.tblCompany.sex.toString()
                this.dataForm.linkTelephone = data.tblCompany.linkTelephone
                this.dataForm.linkCardNo = data.tblCompany.linkCardNo
                this.dataForm.createrTime = data.tblCompany.createrTime
                this.dataForm.updateTime = data.tblCompany.updateTime
                this.dataForm.operatorName = data.tblCompany.operatorName
                this.dataForm.state = data.tblCompany.state
                this.dataForm.comment = data.tblCompany.comment
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblcompany/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'name': this.dataForm.name,
                'address': this.dataForm.address,
                'linkName': this.dataForm.linkName,
                'linkTelephone': this.dataForm.linkTelephone,
                'linkCardNo': this.dataForm.linkCardNo,
                'sex': this.dataForm.sex,
                'comment': this.dataForm.comment
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
