<template>
  <el-dialog
    :title="!dataForm.id ? '客户信息-新增' : '客户信息-修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px" style="margin-left: 20px;margin-right: 20px;">
    <el-form-item label="客户姓名" prop="name">
      <el-input v-model="dataForm.name" placeholder=""></el-input>
    </el-form-item>
      <el-form-item label="身份证号" prop="cardNo">
        <el-input v-model="dataForm.cardNo" placeholder=""></el-input>
      </el-form-item>
    <el-form-item label="手机号码" prop="telephone">
      <el-input v-model="dataForm.telephone" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="公司名称" prop="companyName">
      <el-input v-model="dataForm.companyName" placeholder=""></el-input>
    </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select v-model="dataForm.sex" placeholder="请选择性别">
          <el-option label="男" value=1></el-option>
          <el-option label="女" value=0></el-option>
        </el-select>
      </el-form-item>
    <el-form-item label="备注" prop="comment">
      <el-input type="textarea"  v-model="dataForm.comment" placeholder=""></el-input>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          id: 0,
          name: '',
          telephone: '',
          companyName: '',
          sex: '',
          comment: '',
          operatorName: '',
          createrTime: '',
          updateTime: '',
          cardNo: '',
          state: ''
        },
        dataRule: {
          name: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          telephone: [
            { required: true, message: '不能为空', trigger: 'blur' },
            {pattern: /^1[3|5|7|8|9]\d{9}$/, message: '请输入正确的号码格式', trigger: 'blur'}
          ],
          cardNo: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ]
          // ,
          // sex: [
          //   { required: true, message: '不能为空', trigger: 'blur' }
          // ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblclient/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.name = data.tblClient.name
                this.dataForm.telephone = data.tblClient.telephone
                this.dataForm.companyName = data.tblClient.companyName
                this.dataForm.sex = data.tblClient.sex.toString()
                this.dataForm.comment = data.tblClient.comment
                this.dataForm.operatorName = data.tblClient.operatorName
                this.dataForm.createrTime = data.tblClient.createrTime
                this.dataForm.updateTime = data.tblClient.updateTime
                this.dataForm.state = data.tblClient.state
                this.dataForm.cardNo = data.tblClient.cardNo
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblclient/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'name': this.dataForm.name,
                'telephone': this.dataForm.telephone,
                'companyName': this.dataForm.companyName,
                'cardNo': this.dataForm.cardNo,
                'sex': this.dataForm.sex,
                'comment': this.dataForm.comment
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
