<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
    <el-form-item label="产品类型" prop="productType">
      <el-input v-model="dataForm.productType" placeholder="产品类型"></el-input>
    </el-form-item>
    <el-form-item label="产品名称" prop="productName">
      <el-input v-model="dataForm.productName" placeholder="产品名称"></el-input>
    </el-form-item>
    <el-form-item label="产品单位" prop="productUnit">
      <el-input v-model="dataForm.productUnit" placeholder="产品单位"></el-input>
    </el-form-item>
    <el-form-item label="产品数值" prop="productValue">
      <el-input v-model="dataForm.productValue" placeholder="产品数值"></el-input>
    </el-form-item>
    <el-form-item label="计费类型" prop="productBillingType">
      <el-input v-model="dataForm.productBillingType" placeholder="计费类型"></el-input>
    </el-form-item>
    <el-form-item label="" prop="comment">
      <el-input v-model="dataForm.comment" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="状态" prop="state">
      <el-input v-model="dataForm.state" placeholder="状态"></el-input>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          id: 0,
          productType: '',
          productName: '',
          productUnit: '',
          productValue: '',
          productBillingType: '',
          comment: '',
          state: ''
        },
        dataRule: {
          productType: [
            { required: true, message: '产品类型不能为空', trigger: 'blur' }
          ],
          productName: [
            { required: true, message: '产品名称不能为空', trigger: 'blur' }
          ],
          productUnit: [
            { required: true, message: '产品单位不能为空', trigger: 'blur' }
          ],
          productValue: [
            { required: true, message: '产品数值不能为空', trigger: 'blur' }
          ],
          productBillingType: [
            { required: true, message: '计费类型不能为空', trigger: 'blur' }
          ],
          comment: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          state: [
            { required: true, message: '状态不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblproduct/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.productType = data.tblProduct.productType
                this.dataForm.productName = data.tblProduct.productName
                this.dataForm.productUnit = data.tblProduct.productUnit
                this.dataForm.productValue = data.tblProduct.productValue
                this.dataForm.productBillingType = data.tblProduct.productBillingType
                this.dataForm.comment = data.tblProduct.comment
                this.dataForm.state = data.tblProduct.state
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblproduct/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'productType': this.dataForm.productType,
                'productName': this.dataForm.productName,
                'productUnit': this.dataForm.productUnit,
                'productValue': this.dataForm.productValue,
                'productBillingType': this.dataForm.productBillingType,
                'comment': this.dataForm.comment,
                'state': this.dataForm.state
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
