<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
    <el-form-item label="工地名称" prop="name">
      <el-input v-model="dataForm.name" placeholder="工地名称"></el-input>
    </el-form-item>
      <el-form-item label="工地地址" prop="address">
        <el-input v-model="dataForm.address" type="textarea" placeholder="工地地址"></el-input>
      </el-form-item>
      <el-form-item label="承租类型" prop="contractType" >
        <el-radio-group v-model="dataForm.contractType" @change="((val)=>{changeContractType(val)})">
          <el-radio label="0">个人</el-radio>
          <el-radio label="1">公司</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="承租者" prop="clientId">
        <el-select v-model="dataForm.clientId" placeholder="请选择联系人" @change="((val)=>{changeClient(val)})">
          <el-option v-for="item in clients" :key="item.id" :label="item.name" :value="item.id" ></el-option>
        </el-select>
      </el-form-item>
    <el-form-item label="电话" prop="worksiteTelephone">
      <el-input v-model="dataForm.worksiteTelephone" placeholder="工地电话" ></el-input>
    </el-form-item>
    <el-form-item label="备注" prop="comment">
      <el-input v-model="dataForm.comment" placeholder="备注"></el-input>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        clients: [],
        dataForm: {
          id: 0,
          name: '',
          address: '',
          worksiteTelephone: '',
          clientId: '',
          clientName: '',
          comment: '',
          contractType: '0'
        },
        dataRule: {
          name: [
            { required: true, message: '工地名称不能为空', trigger: 'blur' }
          ],
          address: [
            { required: true, message: '地址不能为空', trigger: 'blur' }
          ],
          // worksiteTelephone: [
          //   { required: true, message: '电话不能为空', trigger: 'blur' },
          //   {pattern: /^1[3|5|7|8|9]\d{9}$/, message: '请输入正确的号码格式', trigger: 'blur'}
          // ],
          clientId: [
            { required: true, message: '联系人不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblworksite/info/${this.dataForm.id}`),
              method: 'get'
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.name = data.tblWorksite.name
                this.dataForm.address = data.tblWorksite.address
                this.dataForm.worksiteTelephone = data.tblWorksite.worksiteTelephone
                this.dataForm.clientId = data.tblWorksite.clientId
                this.dataForm.clientName = data.tblWorksite.clientName
                this.dataForm.comment = data.tblWorksite.comment
                this.dataForm.contractType = data.tblWorksite.contractType.toString()
                this.getClients()
              }
            })
          } else {
            this.getClients()
          }
        })
      },
      getClients () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl(`/generator/${this.dataForm.contractType.toString() === '0' ? 'tblclient/allList' : 'tblcompany/allList'}`),
          method: 'get'
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.clients = data.clientList
          } else {
            this.clients = []
          }
          this.dataListLoading = false
        })
      },
      changeClient (clientId) {
        let client = this.clients.filter(item => item.id === clientId)
        this.dataForm.worksiteTelephone = client[0].telephone
        this.dataForm.clientName = client[0].name
      },
      changeContractType (contractType) {
        this.getClients()
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/generator/tblworksite/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'name': this.dataForm.name,
                'address': this.dataForm.address,
                'clientId': this.dataForm.clientId,
                'clientName': this.dataForm.clientName,
                'comment': this.dataForm.comment,
                'contractType': this.dataForm.contractType
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
